<mat-progress-bar *ngIf="!dashboardRepository.Projects$.value" mode="indeterminate" [color]="primary">
</mat-progress-bar>

<mat-nav-list *ngIf="dashboardRepository.Projects$.value">
    <mat-list-item [routerLink]="['/Project',dashboardRepository.ProjectId$.value,'Info']"
        routerLinkActive="active">
        <mat-icon>dvr</mat-icon>
        <span style="margin-left: 16px;">Проект</span>
        <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item [routerLink]="['/Project',dashboardRepository.ProjectId$.value,'Dashboard']"
        routerLinkActive="active">
        <mat-icon>timeline</mat-icon>
        <span style="margin-left: 16px;">DashBoard</span>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-nav-list>

<mat-accordion *ngIf="dashboardRepository.Projects$.value">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>Проекты</mat-expansion-panel-header>
        <div style="width:100%; text-align: center;">
            <button mat-raised-button color="primary" (click)="openProjectDialog()">ДОБАВИТЬ ПРОЕКТ
            </button>
        </div>
        <mat-nav-list>
            <mat-list-item *ngFor="let project of dashboardRepository.Projects$.value"
                (click)="SelectProject(project)" [class.active]="isLinkActive(project.id)">
                <mat-icon mat-list-icon>work</mat-icon>
                <h4 mat-line>{{project.name}}</h4>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #BSProjectTemplate>
    <mat-form-field style="width: 100%">
        <input #projectInput matInput placeholder="Введите название проекта">
    </mat-form-field>
    <button mat-button color="primary" (click)="AddProject(projectInput.value)"
        [disabled]="!projectInput.value">Добавить</button>
</ng-template>