/deep/ .mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-list-item.active:hover {
    background: rgba(108, 185, 131, 0.8);
}

.mat-list-item.active, .mat-list-item.mat-list-item-focus {
    background: #61b078;
    color: white;
}