<mat-progress-bar *ngIf="!Project" mode="indeterminate" [color]="primary"></mat-progress-bar>
<div *ngIf="Project" style="font-size: 21px;  margin: 8px 8px;">
    <button mat-icon-button color="primary" style="margin-right: 8px;" (click)="openProjectDialog()"><mat-icon>edit</mat-icon></button>
    <span>{{Project.name}}</span>
</div>
<mat-expansion-panel [expanded]="false" *ngIf="Project">
    <mat-expansion-panel-header class="HeaderExpandedPanel">Показатели по отделам</mat-expansion-panel-header>
    <div class="formcontainer">
        <mat-form-field>
            <mat-select [(value)]="cubeData.indicator" placeholder="Показатель">
                <mat-option *ngFor="let item of dashboardRepository.Indicators" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="cubeData.plan" placeholder="План">
                <mat-option *ngFor="let item of dashboardRepository.Plans" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="cubeData.measure" placeholder="Ед. Измерения">
                <mat-option *ngFor="let item of dashboardRepository.Measures" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="BeginPicker" [(ngModel)]="cubeData.date" placeholder="Дата">
            <mat-datepicker-toggle matSuffix [for]="BeginPicker"></mat-datepicker-toggle>
            <mat-datepicker #BeginPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="cubeData.period" placeholder="Период">
                <mat-option *ngFor="let item of dashboardRepository.Periods" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button style="margin-right: 16px; margin-bottom: 16px;" mat-raised-button color="primary" type="submit" (click)="ShowResults()">
            Показать
        </button>
    </div>

    <dx-tree-list id="departments" [dataSource]="departmentsData" keyExpr="id" parentIdExpr="parentId" [showRowLines]="true"
        [columnAutoWidth]="true" [allowColumnReordering]="true" [allowColumnResizing]="true"
        (onRowUpdating)="onRowUpdated($event)">
        <dxo-editing mode="row" [allowUpdating]="true"></dxo-editing>
        <dxi-column dataField="name" caption="Подразделение" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="dataFact.value" caption="Факт">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="numeric"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="dataPlan.value" caption="План">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="numeric"></dxi-validation-rule>
        </dxi-column>
        <dxi-column caption="Разрыв" cellTemplate="diffCellTemplate"></dxi-column>
        <div *dxTemplate="let data of 'diffCellTemplate'">
            <span *ngIf="data.row.data.dataPlan && data.row.data.dataFact && data.row.data.dataPlan.value && data.row.data.dataFact.value ">
                <span [ngStyle]="{'color': ((data.row.data.type.code == 'inverse') ? (data.row.data.dataPlan.value < data.row.data.dataFact.value) : (data.row.data.dataPlan.value > data.row.data.dataFact.value)) ? '#f44336': '#61b078'}">
                    {{(data.row.data.dataFact.value ? data.row.data.dataFact.value : 0) - (data.row.data.dataPlan.value ? data.row.data.dataPlan.value
                    : 0)}}
                </span>
            </span>
        </div>
    </dx-tree-list>

</mat-expansion-panel>


<mat-expansion-panel [expanded]="false" *ngIf="Project">
    <mat-expansion-panel-header class="HeaderExpandedPanel">Показатели по сотрудникам</mat-expansion-panel-header>
    <div class="formcontainer">
        <mat-form-field>
            <mat-select [(value)]="employeeTableData.indicator" placeholder="Показатель">
                <mat-option *ngFor="let item of dashboardRepository.Indicators" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="employeeTableData.department" placeholder="Отдел">
                <mat-option *ngFor="let item of dashboardRepository.Departments" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="employeeTableData.measure" placeholder="Ед. Измерения">
                <mat-option *ngFor="let item of dashboardRepository.Measures" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="EmployeePicker" [(ngModel)]="employeeTableData.date" placeholder="Дата">
            <mat-datepicker-toggle matSuffix [for]="EmployeePicker"></mat-datepicker-toggle>
            <mat-datepicker #EmployeePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="employeeTableData.period" placeholder="Период">
                <mat-option *ngFor="let item of dashboardRepository.Periods" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button style="margin-right: 16px; margin-bottom: 16px;" mat-raised-button color="primary" type="submit" (click)="ShowEmployeeResults()">
            Показать
        </button>
    </div>

    <dx-tree-list id="employees" [dataSource]="employeeData" keyExpr="id" parentIdExpr="parentId" [showRowLines]="true" [columnAutoWidth]="true"
        [allowColumnReordering]="true" [allowColumnResizing]="true"
        (onRowUpdating)="onEmployeeRowUpdated($event)">
        <dxo-editing mode="row" [allowUpdating]="true"> </dxo-editing>
        <dxi-column dataField="name" caption="Сотрудник" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="dataEmployee.value" caption="Факт">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="numeric"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="stuffNorm.value" caption="План">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="numeric"></dxi-validation-rule>
        </dxi-column>
        <dxi-column caption="Разрыв" cellTemplate="diffCellTemplate"></dxi-column>
        <div *dxTemplate="let data of 'diffCellTemplate'">
            <span *ngIf="data.row.data.stuffNorm && data.row.data.dataEmployee && data.row.data.stuffNorm.value && data.row.data.dataEmployee.value ">
                <span [ngStyle]="{'color': (data.row.data.stuffNorm.value > data.row.data.dataEmployee.value) ? '#f44336': '#61b078'}">
                    {{(data.row.data.dataEmployee.value ? data.row.data.dataEmployee.value : 0) - (data.row.data.stuffNorm.value ? data.row.data.stuffNorm.value
                    : 0)}}
                </span>
            </span>
        </div>
    </dx-tree-list>
</mat-expansion-panel>

<ng-container *LeftBarPlacer>
    <div style="width:100%; text-align: center; margin-top: 16px;">
        <button [routerLink]="'/Project/'+dashboardRepository.ProjectId$.value+'/Staff/'" mat-raised-button color="primary" mat-button>
            ШТАТНАЯ СИСТЕМА
        </button>
    </div>
</ng-container>

<ng-template #BSProjectTemplate>
    <mat-form-field style="width: 100%">
        <input #projectInput [value]="Project.name" matInput placeholder="Введите название проекта">
    </mat-form-field>
    <button mat-button color="primary" (click)="ChangeProjectName(projectInput.value)" [disabled]="!projectInput.value">Сохранить</button>
</ng-template>