<mat-sidenav-container>
    <mat-progress-bar *ngIf="!dataLoader.value" mode="indeterminate" [color]="primary"></mat-progress-bar>
    <span *ngIf="dataLoader.value">
        <mat-accordion multi="true" class="headers-align">
            <mat-expansion-panel [expanded]="true" *ngFor="let shelf of Shelves">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: 700; font-size: 20px; color: #828282;">{{shelf.name}}
                    </mat-panel-title>

                    <mat-panel-description>
                        {{(shelf.indicators ? shelf.indicators.length : 0) + ' показатель(ей)'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <span fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 16px 0 0 16px;">
                    <DashboardTemplate *ngFor="let dash of shelf.indicators" [dash]="dash"
                        (onChange)="onIndicatorChange($event)" (onDepartmentsLoad)="onDepartmentsLoad($event)"
                        (onDriversLoad)="onDriversLoad($event)"></DashboardTemplate>
                </span>

                <mat-action-row style="justify-content: flex-start;" fxLayout="row wrap" fxLayoutAlign="start"
                    fxLayoutGap="16px">
                    <button mat-raised-button color="primary" (click)="openIndicatorDialog(shelf.id)"
                        style="margin-right:16px;">ДОБАВИТЬ ПОКАЗАТЕЛЬ</button>
                    <button mat-raised-button (click)="openShelfDialog(shelf)"
                        style="margin-right:16px;">РЕДАКТИРОВАТЬ</button>
                    <button mat-raised-button (click)="removeShelf(shelf.id)">УДАЛИТЬ</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>

        <div class="AddButton" style="text-align: center; margin-top: 16px;">
            <button mat-icon-button (click)="openShelfDialog()">
                <i class="material-icons md-70 primary">add</i>
            </button>
        </div>
    </span>
</mat-sidenav-container>

<ng-template #DShelf>
    <h2 mat-dialog-title>{{tempShelfData? 'Изменить полку' : 'Добавить Полку'}}</h2>
    <mat-dialog-content class="DialogCustom">
        <mat-form-field>
            <input required matInput [formControl]="shelfName" placeholder="Название">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close color="accent" [mat-dialog-close]="true"
            [disabled]="!shelfName.valid">{{tempShelfData ? 'Изменить' : 'Добавить'}}</button>
        <button mat-button mat-dialog-close color="primary">Отмена</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #DShelfIndicators>
    <h2 mat-dialog-title>Добавить Показатель</h2>
    <mat-dialog-content class="DialogCustom">
        <mat-form-field>
            <mat-select required placeholder="Показатель" [formControl]="indicatorControl">
                <mat-option *ngFor="let indicator of Indicators" [value]="indicator.id">
                    {{ indicator.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close color="accent" [mat-dialog-close]="true"
            [disabled]="indicatorControl.invalid">Добавить</button>
        <button mat-button mat-dialog-close color="primary">Отмена</button>
    </mat-dialog-actions>
</ng-template>