mat-sidenav-container {
    height: 100%;
    overflow-y: auto;
    padding: 0 0 0 0;
}

/deep/ mat-sidenav-content.mat-drawer-content.mat-sidenav-content.ng-star-inserted {
    overflow-y: auto;
}
/deep/ .headers-align .mat-expansion-panel-header-title,
/deep/ .headers-align .mat-expansion-panel-header-description {
    flex-basis: 0 !important;
}

/deep/ .headers-align .mat-expansion-panel-header-description {
    justify-content: space-between !important;
    align-items: center !important;
}
