@import '~@angular/material/theming';

$mat-custom: (
  50: #FF9800,
  100: #d0e7d7,
  200: #b0d8bc,
  300: #90c8a1,
  400: #79bc8c,
  500: #61b078,
  600: #59a970,
  700: #4fa065,
  800: #45975b,
  900: #338748,
  A100: #d2ffdd,
  A200: #9fffb6,
  A400: #6cff8f,
  A700: #52ff7b,
  contrast: (
    50: white,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: white,
    500: white,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: white,
    A700: $white-87-opacity,
  )
);


@include mat-core();

$primary: mat-palette($mat-custom);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);


$grey-primary: mat-palette($mat-grey, 700);
$grey-theme: mat-light-theme($grey-primary, $grey-primary, $grey-primary);

.matGreyTheme {
    @include angular-material-theme($grey-theme);
}
