@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*MainStyles*/

/*//////////////////////////////////////////////////////////////////////////*/

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    color: #828282;
    margin: 0;
}

.spacer {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

mat-expansion-panel.mat-expansion-panel, .mat-toolbar {
    background-color: #fafafa;
}
/*Icons*/

.material-icons.md-16 {
    font-size: 16px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-70 {
    font-size: 70px;
}

.material-icons.primary {
    color: #61B078;
}

/* Float Input */

.floatInput.mat-form-field {
    height: 100%;
}

.floatInput .mat-form-field-underline {
    visibility: hidden;
}

mat-form-field.floatInput.mat-focused .mat-form-field-underline {
    visibility: visible;
    height: 2px;
}

.floatInput .mat-form-field-infix {
    border-top-width: 8px;
}

/*Plus button to add elements*/

.AddButton {
    padding-bottom: 10px;
}

.AddButton button {
    height: 70px;
    width: 70px;
    top: calc(50% - 35px);
}


/*CardTemplate*/

.CardTemplate {
    max-width: 350px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 4px #000000;
    border-radius: 5px;
    text-overflow: ellipsis;
    margin-right: 16px;
    margin-bottom: 16px;
}

.CardTemplate .mat-toolbar {
    border-radius: 5px 5px 0 0;
    color: white;
    min-height: 30px;
    height: 30px;
    font-size: 18px;
}

.CardTemplate .mat-toolbar span {
    width: 100%;
    text-align: left;
}

.CardTemplate .mat-sidenav-container {
    height: auto;
    padding: 4px 8px 8px 8px;
    border-radius: 0 0 5px 5px;
}

.CardTemplate .mat-sidenav-container span {
    font-size: 16px;
    text-align: left;
    float: left;
}

.CardTemplate .mat-sidenav-container span.CardHead {
    color: #828282;
}