
<div class="DashboardTemplate" [ngClass]="{'matGreyTheme': dash.executionPercentage == 0 }">
    <mat-toolbar [color]="(dash.type.code == 'inverse' ? dash.executionPercentage <= 100 : dash.executionPercentage >= 100 ) ? 'accent' : 'warn'" style="color: white;">
        <span class="breakword">{{dash.name}}</span>
        <span class="spacer"></span>
        <span *ngIf="dash.dataFact" style="margin-left: 8px;">{{dash.dataFact.measure.name}}</span>
    </mat-toolbar>

    <mat-sidenav-container>
        <span>
            <!-- Head -->
            <table class="block">
                <th align="left" style="max-width: 116px; font-size: 48px; text-align: center;">
                    <span *ngIf="dash.executionPercentage != 0" [style.color]="(dash.type.code == 'inverse' ? dash.executionPercentage <= 100 : dash.executionPercentage >= 100 ) ? '#4caf50' : '#f44336'">{{dash.executionPercentage}}%</span>
                    <span *ngIf="dash.executionPercentage == 0 ">NaN</span>
                </th>

                <th align="right">
                    <table class="block" style="height: 40px; margin: 0;">
                        <td align="left">Факт</td>
                        <td align="right" *ngIf="dash.executionPercentage != 0">{{dash.dataFact.value}}</td>
                        <td align="right" *ngIf="dash.executionPercentage == 0">NaN</td>
                    </table>

                    <table class="block" style="height: 40px; margin: 0; border-bottom: 0;">
                        <td align="left">План</td>
                        <td align="right" *ngIf="dash.executionPercentage != 0">{{dash.dataPlan.value}}</td>
                        <td align="right" *ngIf="dash.executionPercentage == 0">NaN</td>
                    </table>
                </th>

            </table>


            <mat-tab-group dynamicHeight="false" (selectedTabChange)="selectedTabChange($event)">
                <!-- Info -->
                <mat-tab>
                    <ng-template mat-tab-label>Детали</ng-template>

                    <!-- R/R -->
                    <table class="block">
                        <tr>
                            <td align="left">R/R</td>
                            <td align="right" class="dataText"></td>
                        </tr>
                        <tr>
                            <td align="left" *ngIf="dash.executionPercentage != 0" class="dataText">{{dash.runRate.date | date:'dd.MM.yyyy'}}</td>
                            <td align="left" *ngIf="dash.executionPercentage  == 0" class="dataText">NaN</td>

                            <td align="right" *ngIf="dash.dataFact" [style.color]="(dash.type.code == 'inverse' ? dash.runRate.value > dash.dataFact.value :  dash.runRate.value < dash.dataFact.value ) ? '#f44336' : '#4caf50'">{{dash.runRate.value}} {{dash.dataFact.measure.code}}</td>
                            <td align="right" *ngIf="!dash.dataFact" class="dataText">NaN</td>
                        </tr>
                    </table>

                    <!-- Динамика -->
                    <table class="block">
                        <tr>
                            <td align="left">Динамика</td>
                            
                            <td align="right" *ngIf="!dash.dataFact || !dash.dynamic" class="dataText">NaN</td>
                            <td align="right" *ngIf="dash.dataFact && dash.dynamic" class="dataText">{{dash.dynamic.value}} {{dash.dataFact.measure.code}}</td>
                        </tr>
                        <tr>
                            <td align="left" *ngIf="dash.dataFact && dash.dynamic" class="dataText">{{dash.dynamic.date | date:'dd.MM.yyyy'}}</td>
                            <td align="left" *ngIf="!dash.dataFact || !dash.dynamic" class="dataText">NaN</td>

                            <td align="right" *ngIf="dash.dataFact && dash.dynamic" class="dataText" [style.color]="(dash.type.code == 'inverse' ? dash.dynamic.gap < 0 : dash.dynamic.gap >= 0 ) ? '#4caf50' : '#f44336'">{{dash.dynamic.gap > 0 ? "+" : ""}}{{dash.dynamic.gap}} {{dash.dataFact.measure.code}}</td>
                        </tr>
                    </table>

                    <!-- Филиал -->
                    <table class="block">
                        <tr>
                            <td align="left">Филиал</td>
                            <td align="right" *ngIf="dash.departmentsDone > 0 || dash.departmentsFail > 0">
                                <span class="chart">
                                    {{dash.departmentsDone}}
                                    <mat-progress-bar color="access" [value]="dash.departmentsDone/(dash.departmentsFail + dash.departmentsDone) * 100"
                                                      style="margin: 0 8px; width: 100px; height: 16px; border-radius: 16px;" mode="determinate"></mat-progress-bar>
                                    {{dash.departmentsFail}}
                                </span>
                            </td>
                            <td align="right" *ngIf="dash.departmentsDone <= 0 && dash.departmentsFail <= 0" class="dataText">NaN</td>
                        </tr>
                        <tr>
                            <td align="left" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                *ngIf="dash.dataFact" class="dataText">{{dash.dataFact.department.name}}</td>
                            <td align="left" *ngIf="!dash.dataFact" class="dataText">NaN</td>
                            <td align="right" *ngIf="dash.dataFact && dash.departmentsDone > 0 || dash.departmentsFail > 0" class="link" (click)="GetDepartments()">Филиалы</td>
                            <td align="right" *ngIf="!dash.dataFact || (dash.departmentsDone < 1 && dash.departmentsFail < 1)" class="dataText">NaN</td>
                        </tr>
                    </table>

                    <!-- Менеджер -->
                    <table class="block">
                        <tr>
                            <td align="left">Менеджер</td>
                        </tr>
                        <tr>
                            <td align="left" *ngIf="!dash.dataEmployee || !dash.dataEmployee.employee" class="dataText">NaN</td>
                            <td align="left" *ngIf="dash.dataEmployee && dash.dataEmployee.employee" class="dataText">{{dash.dataEmployee.employee.name}}</td>
                            <td align="right" *ngIf="!dash.dataEmployee" class="dataText">NaN</td>
                            <td align="right" *ngIf="dash.dataEmployee" [style.color]="(dash.dataEmployee.value && dash.dataEmployee.stuffNormValue && (dash.dataEmployee.value > dash.dataEmployee.stuffNormValue)) ? '#4caf50' : '#f44336'">{{dash.dataEmployee.value}}</td>
                        </tr>
                    </table>

                    <!-- Драйвера -->
                    <table class="block">
                        <tr>
                            <td align="left">Драйвера</td>
                            <td align="right" *ngIf="dash.dataFact && (dash.driversFail > 0 || dash.driversDone > 0)">
                                <span class="chart">
                                    {{dash.driversDone}}
                                    <mat-progress-bar color="access" [value]="dash.driversDone/(dash.driversFail+dash.driversDone) * 100"
                                                      style="margin: 0 8px; width: 100px; height: 16px; border-radius: 16px;" mode="determinate"></mat-progress-bar>
                                    {{dash.driversFail}}
                                </span>
                            </td>
                            <td align="right" *ngIf="!dash.dataFact || (dash.driversFail < 1 && dash.driversDone < 1)" class="dataText">NaN</td>
                        </tr>
                        <tr>
                            <td align="left"></td>
                            <td align="right" *ngIf="dash.dataFact && (dash.driversFail > 0 || dash.driversDone > 0)" class="link" (click)="GetDrivers()">Драйвера</td>
                            <td align="right" *ngIf="!dash.dataFact || (dash.driversFail < 1 && dash.driversDone < 1)" class="dataText">NaN</td>
                        </tr>
                    </table>


                </mat-tab>

                <!-- Chart -->
                <mat-tab>
                    <ng-template mat-tab-label>График</ng-template>
                    <dx-chart palette="violet" [dataSource]="PlanFactDates">
                        <dxo-size [height]="320" [width]="280"></dxo-size>

                        <dxi-series color="#f44336" valueField="planValue" name="План"></dxi-series>
                        <dxi-series color="#61B078" valueField="factValue" name="Факт"></dxi-series>
                        <dxo-common-series-settings argumentField="reportDate"
                                                    [type]="spline">
                        </dxo-common-series-settings>
                        <dxo-legend [visible]="true"
                                    verticalAlignment="bottom"
                                    horizontalAlignment="center"></dxo-legend>
                        <dxo-argument-axis argumentType="datetime"></dxo-argument-axis>
                        <dxo-tooltip [enabled]="true"
                                     [customizeTooltip]="customizeTooltip"
                                     [zIndex]="1001">
                        </dxo-tooltip>
                    </dx-chart>
                </mat-tab>

                <!-- Ratings -->
                <mat-tab>
                    <ng-template mat-tab-label>Рейтинг</ng-template>
                    <mat-list>
                        <mat-list-item style="height: 45px;" *ngFor="let rating of Ratings">
                            <mat-icon mat-list-icon>person</mat-icon>
                            <h4 mat-line>{{rating.employee.name}}</h4>
                            <span class="spacer"></span>
                            <h4 [style.color]="rating.value > 100 ? '#4caf50' : '#f44336'">{{rating.value}}%</h4>
                        </mat-list-item>
                    </mat-list>

                </mat-tab>
            </mat-tab-group>

            <!-- bottom nav -->
            <table class="block" style="height: 25px; border-bottom: 0; margin: 0 0 0 0; table-layout:fixed;">
                <tr>
                    <td align="left" *ngIf="dash.dataFact">{{dash.dataFact.reportDate | date:'dd.MM.yyyy'}}</td>
                    <td align="center" *ngIf="dash.dataFact">{{dash.dataFact.period.name}}</td>

                    <td align="left" *ngIf="!dash.dataFact" style="height:40px;">NaN</td>

                    <td align="right" style="color: #828282;">
                        <button mat-icon-button (click)="ChangeIndicator(dash)">
                            <mat-icon>settings</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>

        </span>
    </mat-sidenav-container>
</div>
