/deep/ .DashboardTemplate {
    box-shadow: 0px 0px 4px #000000;
    border-radius: 5px;
    margin-bottom: 16px;
    margin-right: 16px;
    text-overflow: ellipsis;
    max-width: 300px;
    min-width: 300px;
    font-size: 16px;
}

.DashboardTemplate .mat-toolbar {
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-height: 30px;
    height: 30px;
}

.breakword {
    /*word-wrap: break-word;
    white-space: pre-wrap;*/
    line-height: 14px;
    /*max-height: 30px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DashboardTemplate mat-sidenav-container {
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 0 0 5px 5px;
}

.DashboardTemplate table.block {
    margin: 4px 0 4px 0;
    border-bottom: 2px solid #828282;
    width: 100%;
    vertical-align: middle;
    height: 60px;
}

.DashboardTemplate th {
    font-weight: normal;
}

.DashboardTemplate table,
tr {
    width: 100%;
}

.DashboardTemplate table td {
    padding: 0 8px 0 8px;
    width: 50%;
}

/deep/ .DashboardTemplate div.mat-tab-label.mat-ripple.mat-tab-label-active,
/deep/ .DashboardTemplate div.mat-tab-label.mat-ripple {
    padding-left: 8px;
    padding-right: 8px;
    height: 20px;
    line-height: 20px;
    width: calc(100% / 3);
    min-width: 90px;
}

/deep/ mat-tab-body {
    height: 325px;
}

.dataText {
    color: #828282;
    font-weight: bold;
}

.link {
    color: #054B7D;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.chart {
    display: inline-flex;
}

/deep/ .chart mat-progress-bar div.mat-progress-bar-buffer {
    background-color: #f44336;
}