<h2 mat-dialog-title class="TextOnWindow">Добавить Индикатор</h2>
<mat-dialog-content >
    <mat-progress-bar *ngIf="!dataLoader.value" mode="indeterminate" [color]="primary"></mat-progress-bar>
    <span *ngIf="dataLoader.value" fxLayout="row wrap" fxLayoutAlign="space-around center" >
        <!-- Name -->
        <mat-form-field style="width: 250px;">
            <input required type="text" matInput [formControl]="myControl" placeholder="Название" [(ngModel)]="Indicator.Name">
        </mat-form-field>

        <!-- Type -->
        <mat-form-field style="width: 250px;">
            <mat-select required placeholder="Тип индикатора" [formControl]="myControl" [(value)]="Indicator.Type">
                <mat-option *ngFor="let indicatorType of dashboardRepositoryy.IndicatorTypes" [value]="indicatorType">
                    {{ indicatorType.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Owner department -->
        <mat-form-field style="width: 250px;">
            <input required type="text" matInput [formControl]="myControl" (input)="ownerValueChanged($event)" placeholder="Отдел" [matAutocomplete]="autoOwner">
            <mat-autocomplete #autoOwner="matAutocomplete">
                <mat-option *ngFor="let department of Departments" [value]="department.name" (onSelectionChange)="ownerSelectionChange(department)">
                    {{ department.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <!-- Parent Indicator -->
        <mat-form-field style="width: 250px;">
            <mat-select placeholder="Родитель" [formControl]="myControl" [(value)]="Indicator.Parent">
                <mat-option [value]="{id: 0}">
                    Без родителя
                </mat-option>
                <mat-option *ngFor="let item of dashboardRepositoryy.Indicators" [value]="item">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Default Measure -->
        <mat-form-field style="width: 250px;">
            <mat-select required placeholder="Ед. Измерения" [formControl]="myControl" [(value)]="Indicator.MeasureDefault">
                <mat-option *ngFor="let measure of dashboardRepositoryy.Measures" [value]="measure">
                    {{ measure.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Default Period  -->
        <mat-form-field style="width: 250px;">
            <mat-select required placeholder="Период" [formControl]="myControl" [(value)]="Indicator.PeriodDefault">
                <mat-option *ngFor="let period of dashboardRepositoryy.Periods" [value]="period">
                    {{ period.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Default Plan  -->
        <mat-form-field style="width: 250px;">
            <mat-select required placeholder="План" [formControl]="myControl" [(value)]="Indicator.PlanDefault">
                <mat-option *ngFor="let plan of dashboardRepositoryy.Plans" [value]="plan">
                    {{ plan.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </span>

</mat-dialog-content>
<mat-dialog-actions class="SetButtonRight">
    <button mat-button mat-dialog-close color="accent" [mat-dialog-close]="{correct: true, indicator: this.Indicator}" [disabled]="!(myControl.valid && formValidation())">Добавить</button>
    <button mat-button mat-dialog-close color="primary">Отмена</button>
</mat-dialog-actions>
