<h2 mat-dialog-title class="TextOnWindow">{{dash.name}}</h2>
<mat-dialog-content fxLayout="row wrap" fxLayoutAlign="space-around center">

    <!-- Date -->
    <mat-form-field>
        <input required matInput [matDatepicker]="DatePicker" [(ngModel)]="date" placeholder="Дата">
        <mat-datepicker-toggle matSuffix [for]="DatePicker"></mat-datepicker-toggle>
        <mat-datepicker #DatePicker></mat-datepicker>
    </mat-form-field>

    <!-- Department  -->
    <mat-form-field style="width: 250px;">
        <mat-select required placeholder="Подразделение" [(ngModel)]="department.id">
            <mat-option *ngFor="let item of dashboardRepository.Departments" [value]="item.id">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Measure -->
    <mat-form-field style="width: 250px;">
        <mat-select required placeholder="Ед. Измерения" [(ngModel)]="measure.id">
            <mat-option *ngFor="let item of dashboardRepository.Measures" [value]="item.id">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <!-- Period -->
    <mat-form-field style="width: 250px;">
        <mat-select required placeholder="Период" [(ngModel)]="period.id">
            <mat-option *ngFor="let item of dashboardRepository.Periods" [value]="item.id">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <!-- Plan -->
    <mat-form-field style="width: 250px;">
        <mat-select required placeholder="План" [(ngModel)]="plan.id">
            <mat-option *ngFor="let item of dashboardRepositoryy.Plans" [value]="item.id">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="recursive">Высчитывать рекурсивно</mat-checkbox>

    <!-- Type -->
    <!--<mat-form-field style="width: 250px;">
        <input matInput placeholder="Тип" [value]="dash.type.name">
    </mat-form-field>-->


</mat-dialog-content>
<mat-dialog-actions >
    <button mat-button mat-dialog-close color="accent" [disabled]="measure.id == 0 || plan.id == 0 || period.id == 0 ||  department.id == 0 || date == null"
            [mat-dialog-close]="{date : date, recursive: recursive, department: department, measure: measure, plan: plan, period: period}">Рассчитать</button>
    <button mat-button [mat-dialog-close]=false color="primary">Отмена</button>
</mat-dialog-actions>
