<h2 mat-dialog-title>{{data.dash.name}}</h2>
<mat-dialog-content>
    <mat-progress-bar *ngIf="!dataLoader.value" mode="indeterminate" [color]="primary"></mat-progress-bar>
    <span *ngIf="dataLoader.value" fxLayout="row wrap" fxLayoutAlign="space-around center">

        <!-- Department -->
        <mat-form-field style="width: 250px;">
            <mat-select  #departmentSelect required placeholder="Отдел" [(ngModel)]="Department.id" (ngModelChange)="selectChange($event, 'd')">
                <mat-option *ngFor="let department of Departments" [value]="department.id">
                    {{ department.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Employee -->
        <mat-form-field style="width: 250px;">
            <mat-select #employeeSelect required placeholder="Сотрудник" [(ngModel)]="Employee.id"> <!--(ngModelChange)="selectChange($event, 'e')"-->
                <!--<mat-option [value]="0">
                    Без сотрудника
                </mat-option>-->
                <mat-option *ngFor="let employee of Employees" [value]="employee.id">
                    {{ employee.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Measure -->
        <mat-form-field style="width: 250px;">
            <mat-select #measureSelect required placeholder="Ед. Измерения" [(ngModel)]="Measure.id" (ngModelChange)="selectChange($event, 'm')">
                <mat-option *ngFor="let measure of Measures" [value]="measure.id">
                    {{ measure.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Period  -->
        <mat-form-field style="width: 250px;">
            <mat-select #periodSelect required placeholder="Период" [(ngModel)]="Period.id" (ngModelChange)="selectChange($event, 'p')">
                <mat-option *ngFor="let period of Periods" [value]="period.id">
                    {{ period.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Date  -->
        <mat-form-field #date style="width: 250px;">
            <mat-select  #dateSelect required placeholder="Дата" [(ngModel)]="Date" (ngModelChange)="dateChange($event)">
                <mat-option *ngFor="let date of Dates" [value]="date">
                    {{ date | date:'dd.MM.yyyy'}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </span>

</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button mat-dialog-close color="accent" [disabled]="validation()" [mat-dialog-close]="{ Period: Period, Measure: Measure, Department: Department, Date: Date, Employee: Employee}">Изменить</button>
    <button mat-button mat-dialog-close color="primary">Отмена</button>

    <button mat-button mat-dialog-close color="primary" [mat-dialog-close]="{ remove: true }">Удалить с полки</button>
</mat-dialog-actions>
