<h2 mat-dialog-title class="TextOnWindow">{{dash.name}}</h2>
<mat-dialog-content>

    <!-- Parent -->
    <mat-form-field style="width: 250px;">
        <mat-select placeholder="Родитель" [(ngModel)]="parent.id">
            <mat-option *ngFor="let item of Indicators" [value]="item.id">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Measure -->
    <mat-form-field style="width: 250px;">
        <mat-select placeholder="Ед. Измерения" [(ngModel)]="measureDefault.id">
            <mat-option *ngFor="let measure of dashboardRepositoryy.Measures" [value]="measure.id">
                {{ measure.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Period  -->
    <mat-form-field style="width: 250px;">
        <mat-select placeholder="Период" [(ngModel)]="periodDefault.id">
            <mat-option *ngFor="let period of dashboardRepositoryy.Periods" [value]="period.id">
                {{ period.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Plan  -->
    <mat-form-field style="width: 250px;">
        <mat-select placeholder="План" [(ngModel)]="planDefault.id">
            <mat-option *ngFor="let plan of dashboardRepositoryy.Plans" [value]="plan.id">
                {{ plan.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Type  -->
    <mat-form-field style="width: 250px;">
        <mat-select placeholder="Тип" [(ngModel)]="typeDefault.id">
            <mat-option *ngFor="let type of dashboardRepositoryy.IndicatorTypes" [value]="type.id">
                {{ type.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Department  -->
    <mat-form-field style="width: 250px;">
        <mat-select placeholder="Филиал" [(ngModel)]="owner.id">
            <mat-option *ngFor="let dep of dashboardRepositoryy.Departments" [value]="dep.id">
                {{ dep.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions class="SetButtonRight">
    <button mat-button mat-dialog-close color="accent" [mat-dialog-close]="{parent : parent, measure: measureDefault, period: periodDefault, plan: planDefault, type: typeDefault, owner: owner}">Сохранить</button>
    <button mat-button [mat-dialog-close]=false color="primary">Отмена</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="{removeId: dash.id}">Удалить показатель</button>
</mat-dialog-actions>
