/deep/ staffedit .mat-raised-button{
    margin-right: 16px;
}

/deep/ dx-tree-list {
    height: calc(100% - 50px);
}
.mat-icon-button, .mat-icon {
    width: 19px;
    height: 19px;
    line-height: 19px;
    color: #828282;
    margin-right: 8px;
}

/deep/ .dx-scrollable-wrapper {
    height: 100%;
}
