<mat-toolbar>
    <button mat-raised-button color="primary" (click)="ChangeItem({code: 'Department'})">Добавить Филиал</button>
    <button mat-raised-button color="primary" (click)="ChangeItem({code: 'Post'})">Добавить Должность</button>
    <button mat-raised-button color="primary" (click)="ChangeItem({code: 'Employee'})">Добавить Сотрудника</button>
</mat-toolbar>

<mat-progress-bar *ngIf="!StaffData" mode="indeterminate" [color]="primary"></mat-progress-bar>
<dx-tree-list *ngIf="StaffData" #StaffGrid [dataSource]="StaffData" keyExpr="uid" parentIdExpr="parentUID" [showRowLines]="true"
    [autoExpandAll]="true" [columnAutoWidth]="true" [allowColumnReordering]="true" [allowColumnResizing]="true">
    <dxi-column dataField="name" caption="Название" cellTemplate="nameTemplate"></dxi-column>
    <dxi-column width="200px" sortOrder="desc" dataField="type.name" caption="Тип"></dxi-column>
    <dxi-column width="90px" dataField="dateOpen" dataType="date" format="dd.MM.yyyy" caption="Начало"></dxi-column>
    <dxi-column width="90px" dataField="dateClose" dataType="date" format="dd.MM.yyyy" caption="Закрытие"></dxi-column>
    <dxi-column width="40px" caption="" cellTemplate="actionsTemplate" alignment="right"></dxi-column>
    <div *dxTemplate="let data of 'nameTemplate'">
        <span (click)="ChangeItem(data.data)">
            <button mat-icon-button>
                <mat-icon *ngIf="data.data.code=='Department'" style="color: #61b078;">domain</mat-icon>
                <mat-icon *ngIf="data.data.code=='Post'" style="color: #61b078;">description</mat-icon>
                <mat-icon *ngIf="data.data.code=='Employee'" style="color: #61b078;">person</mat-icon>
            </button>
            {{data.data.name}}
        </span>
    </div>
    <div *dxTemplate="let data of 'actionsTemplate'">
        <button mat-icon-button (click)="ChangeItem(data.data)"><mat-icon>settings</mat-icon></button>
    </div>
</dx-tree-list>