<h2 mat-dialog-title>{{StaffItem.name}}</h2>
<mat-dialog-content>
    <mat-progress-bar *ngIf="!dataLoader.value" mode="indeterminate" [color]="primary"></mat-progress-bar>
    <span *ngIf="dataLoader.value" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <!-- Name -->
        <mat-form-field style="width: 500px;">
            <input type="text" matInput [formControl]="nameControl" placeholder="Название" [(ngModel)]="StaffItem.name">
        </mat-form-field>

        <span *ngIf="StaffItem.code && StaffItem.code=='Employee'">
            <!-- Post Parent -->
            <mat-form-field style="width: 250px;">
                <mat-select (change)="onDepartmentChange()" placeholder="Подразделение" [(ngModel)]="postParent">
                    <mat-option *ngFor="let item of StaffParents" [value]="item.uid">{{ item.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Post Type -->
            <mat-form-field style="width: 250px;">
                <mat-select (change)="onUnitChange()" [formControl]="parentControl" placeholder="Должность" [(ngModel)]="StaffItem.parentUID">
                    <mat-option *ngFor="let item of (data.parents | staffPostFilter:postParent)" [value]="item.uid">{{ item.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </span>

        <span *ngIf="StaffItem.code && StaffItem.code!='Employee'">
            <!-- Staff Parent -->
            <mat-form-field style="width: 250px;">
                <mat-select [formControl]="parentControl" placeholder="Подразделение" [(ngModel)]="StaffItem.parentUID">
                    <mat-option *ngIf="StaffItem.code=='Department'" value="0">Без родителя</mat-option>
                    <mat-option *ngFor="let item of StaffParents" [value]="item.uid">{{ item.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Staff Type -->
            <mat-form-field style="width: 250px;">
                <mat-select [formControl]="typeControl" placeholder="Тип" [(ngModel)]="StaffItem.type">
                    <mat-option *ngFor="let item of StaffTypes" [value]="item">{{ item.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </span>


        <!-- Date open -->
        <mat-form-field>
            <input matInput type="datetime" [matDatepicker]="BeginPicker" [(ngModel)]="StaffItem.dateOpen" placeholder="Начало" disabled>
            <mat-datepicker-toggle matSuffix [for]="BeginPicker"></mat-datepicker-toggle>
            <mat-datepicker #BeginPicker disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- Date close -->
        <mat-form-field>
            <input matInput type="datetime" [matDatepicker]="EndPicker" [(ngModel)]="StaffItem.dateClose" placeholder="Закрытие" disabled>
            <mat-datepicker-toggle matSuffix [for]="EndPicker"></mat-datepicker-toggle>
            <mat-datepicker #EndPicker disabled="false"></mat-datepicker>
        </mat-form-field>


        <!-- Employee Unit -->
        <mat-form-field style="width: 250px;" *ngIf="StaffItem.code=='Employee'">
            <input [formControl]="unitControl" (input)="onUnitChange()" type="number" step="0.1" matInput placeholder="Unit" [(ngModel)]="StaffItem.type.value">
        </mat-form-field>
    </span>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="accent" [mat-dialog-close]="{action: action, StaffItem: StaffItem}" [disabled]="!Validation()">{{action == "edit" ? 'Изменить' : 'Добавить'}}</button>
    <button mat-button mat-dialog-close color="primary">Отмена</button>
</mat-dialog-actions>
