<mat-sidenav-container style="height:100%;" autosize>
    <mat-sidenav #PrList mode="side" opened="true" style="width: 330px; background-color: #fafafa; border-right: 2px solid #828282;">
        <ProjectsList></ProjectsList>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>