.mat-toolbar {
    background-color: #fafafa;
    padding-left: 8px;
    padding-right: 8px;
}
.mat-icon-button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #828282;
    margin-right: 8px;
}
