<mat-toolbar>
    <button mat-raised-button color="primary" mat-button (click)="openIndicatorDialog()">
        Добавить показатель
    </button>
</mat-toolbar>

<mat-progress-bar *ngIf="!dataLoader.value" mode="indeterminate" [color]="primary"></mat-progress-bar>
<dx-tree-list *ngIf="dataLoader.value" #IndicatorsGrid [dataSource]="dashboardRepositoryy.Indicators" keyExpr="id"
    parentIdExpr="parent.id" [showRowLines]="true" [autoExpandAll]="true" height="calc(100% - 50px)" [columnAutoWidth]="true"
    [allowColumnReordering]="true" [allowColumnResizing]="true">

    <dxi-column dataField="name" caption="Индикатор" sortOrder="asc" [allowEditing]="false"></dxi-column>
    <dxi-column width="120px" dataField="owner.name" caption="Филиал"></dxi-column>
    <dxi-column width="100px" dataField="measureDefault.name" caption="Измерение"></dxi-column>
    <dxi-column width="100px" dataField="periodDefault.name" caption="Период"></dxi-column>
    <dxi-column width="100px" dataField="planDefault.name" caption="План"></dxi-column>
    <dxi-column width="100px" dataField="type.name" caption="Тип"></dxi-column>
    <dxi-column width="80px" caption="Действия" cellTemplate="actionsTemplate" alignment="right"></dxi-column>


    <div *dxTemplate="let data of 'actionsTemplate'">
        <!--<button mat-icon-button *ngIf="data.row.node.children.length > 0" (click)="CalculateIndicator(data.data)">
                <mat-icon>play_arrow</mat-icon>
            </button>-->
        <button mat-icon-button (click)="ChangeIndicator(data.data)">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</dx-tree-list>